/* CSS HEX */
// --white: #fcfcfcff;
// --jet: #2f2f2fff;
// --kelly-green: #70aa2bff;
// --black: #000000ff;
// --rojo: #dd2222ff;

/* CSS HSL */
// --white: hsla(0, 0%, 99%, 1);
// --jet: hsla(0, 0%, 18%, 1);
// --kelly-green: hsla(87, 60%, 42%, 1);
// --black: hsla(0, 0%, 0%, 1);
// --rojo: hsla(0, 73%, 50%, 1);

/* SCSS HEX */
$white: #fcfcfcff;
$jet: #2f2f2fff;
$kelly-green: #70aa2bff;
$black: #000000ff;
$rojo: #dd2222ff;

/* SCSS HSL */
$white: hsla(0, 0%, 99%, 1);
$jet: hsla(0, 0%, 18%, 1);
$kelly-green: hsla(87, 60%, 42%, 1);
$black: hsla(0, 0%, 0%, 1);
$rojo: hsla(0, 73%, 50%, 1);

/* SCSS RGB */
$white: rgba(252, 252, 252, 1);
$jet: rgba(47, 47, 47, 1);
$kelly-green: rgba(112, 170, 43, 1);
$black: rgba(0, 0, 0, 1);
$rojo: rgba(221, 34, 34, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #fcfcfcff, #2f2f2fff, #70aa2bff, #000000ff, #dd2222ff);
$gradient-right: linear-gradient(90deg, #fcfcfcff, #2f2f2fff, #70aa2bff, #000000ff, #dd2222ff);
$gradient-bottom: linear-gradient(180deg, #fcfcfcff, #2f2f2fff, #70aa2bff, #000000ff, #dd2222ff);
$gradient-left: linear-gradient(270deg, #fcfcfcff, #2f2f2fff, #70aa2bff, #000000ff, #dd2222ff);
$gradient-top-right: linear-gradient(45deg, #fcfcfcff, #2f2f2fff, #70aa2bff, #000000ff, #dd2222ff);
$gradient-bottom-right: linear-gradient(135deg, #fcfcfcff, #2f2f2fff, #70aa2bff, #000000ff, #dd2222ff);
$gradient-top-left: linear-gradient(225deg, #fcfcfcff, #2f2f2fff, #70aa2bff, #000000ff, #dd2222ff);
$gradient-bottom-left: linear-gradient(315deg, #fcfcfcff, #2f2f2fff, #70aa2bff, #000000ff, #dd2222ff);
$gradient-radial: radial-gradient(#fcfcfcff, #2f2f2fff, #70aa2bff, #000000ff, #dd2222ff);